body {
    background-color: black;
    font-family: monospace;
    text-align: center;
}
textarea {
    font-family: monospace;
    font-size: 20px;
    resize:vertical;
}
h1, p {
    color: green;
}

span {
    background-color: white;   
}