body {
    background-color: black;
    font-family: monospace;
    text-align: center;
}
textarea {
    font-family: monospace;
    font-size: 17px;
    resize:vertical;
}
h1, p {
    color: green;
}
span, #urlBox{
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 12px;
    resize: none;
}
a, #timer{
    color: white;
}