<html>
    <head>
        <title>SECRET NOTE</title>
        {% load staticfiles %}
        <link rel='stylesheet' type='text/css' href='{% static 'secret_note_sharing/css/style.css' %}'/>
    </head>
    <body>
        <div>
            <h1>SECRET NOTE</h1>
            <form method = 'POST'>
                {% csrf_token %}
                <textarea id = "textArea" name = 'message_text', rows = '7', cols = '80'>Tell me your secret message...</textarea>
                </br>
                <input type='submit' value = 'Submit' onclick = 'encryptMessage(message_text);'/>
            </form>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
    <script>
        /* global CryptoJS */
        function encryptMessage(message_text){
            var encryptThis = CryptoJS.AES.encrypt(message_text.value, 'supersecretpassphrase');
            document.getElementById('textArea').value = encryptThis;
        }
    </script>
</html>